.clients__icon{
	fill: #AFB1B8;
	transition:fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients{
	display: flex;
	flex-wrap: wrap;
	margin: -15px;
}
.clients__item{
	margin: 15px;
	flex-basis: calc((100% - 60px) / 2);
	@media screen and (min-width: 768px) {
		flex-basis: calc((100% - 90px) / 3);
	}
	@media screen and (min-width: 1200px) {
		flex-basis: calc((100% - 180px) / 6);
	}
}
.clients__link{
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #AFB1B8;
	border-radius: 4px;
	height: 92px;
	transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover .clients__icon,
	&:focus .clients__icon{
	fill: #2196F3;
	}
	&:focus,
	&:hover{
	border-color:#2196F3;
	}
}
// .clients__item+.clients__item{
// 	margin-left: 30px;
// }