.command__item{
	background: #FFFFFF;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
	&:not(:last-child){
		margin-right: 30px;
	}
}
.command__title {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--main-color);
	margin-bottom: 10px;
}
.command__container{
	padding-top: 30px;
	padding-bottom: 30px;
}
.command {
	display: flex;
	list-style: none;
}
.command__text {
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
}
.section__title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--main-color);
	margin-bottom: 50px;
}
.social{
	display: flex;
	justify-content: center;
	margin-top: 16px;
}
.social-link{
	width: 44px;
	height: 44px;
	align-items: center;
	background-color: #ffffff;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover .social-icon,
	&:focus .social-icon{
	fill:#FFFFFF;
}
	&:hover,
	&:focus{
	background-color: #2196F3;
	transform: translateY(0);
}
}
.social-icon{
	fill: #AFB1B8;
}
.social-item+.social-item{
	margin-left: 10px;
}

